.content-main > .stream-container {
    visibility: hidden;
}
.disable-focusmode .content-main > .stream-container {
    visibility: visible;
}

div[data-testid=primaryColumn] {
    visibility: hidden;
}
.disable-focusmode div[data-testid=primaryColumn] {
    visibility: visible;
}

[aria-label='Timeline: Trending now'] {
    visibility: hidden !important;
}
.disable-focusmode [aria-label='Timeline: Trending now'] {
    visibility: visible;
}